[submodule "rust/submodules/embassy"]
	path = submodules/embassy
	url = https://github.com/embassy-rs/embassy
[submodule "rust/submodules/cc1101"]
	path = submodules/cc1101
	url = https://github.com/SebKuzminsky/cc1101
