[submodule "rust/submodules/embassy"]
	path = rust/submodules/embassy
	url = https://github.com/embassy-rs/embassy
[submodule "rust/submodules/cc1101"]
	path = rust/submodules/cc1101
	url = https://github.com/dsvensson/cc1101
